aiogram==3.26.0

aiohttp==3.11.18
aiofiles==24.1.0
aiofile==3.8.1

requests==2.27.1

gitpython==3.1.2

pydantic==2.9.2

orjson
ruamel.yaml==0.17.21

psutil==6.0.0
emoji==2.1.0
grapheme==0.6.0

bs4==0.0.2

Jinja2==3.0.3
aiohttp_jinja2==1.5

rsa==4.9
pyaes

deep-translator
meval==2.5

certifi==2024.8.30
werkzeug==2.2.2

TgCrypto-pyrofork
Pillow